.auth-container {
    background-color: #1e1e1e;
    padding: 30px;
    width: 350px;
    margin: 100px auto;
    text-align: center;
    border: 2px solid #00ffea;
    box-shadow: 0 0 10px #00ffea, 0 0 20px #00ffea;
    border-radius: 15px;
}

.auth-container h1 {
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

.auth-container form input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: #f4f4f4;
}

.auth-button {
    padding: 10px 20px;
    margin: 10px 0;
    background: linear-gradient(135deg, #00ffea, #ff00ff);
    border: none;
    border-radius: 30px;
    color: #121212;
    transition: transform 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.auth-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ffea, 0 0 30px #ff00ff;
}

p a {
    color: #00ffea;
    text-shadow: 0 0 5px #00ffea;
}

p a:hover {
    text-decoration: underline;
}
